<!doctype html>
{% extends 'base.html' %}

{% block content %}
  <div class="fahad-coming-soon d-flex justify-content-center align-items-center" style="padding-top:70px;padding-bottom:70px;">
      <div class="col-md-6">
          <div class="text-center pb-3">
              <h1 class="font-weight-bold">About Us</h1>
              <!-- <p>Check your order status in <a href="my_order.html" class="font-weight-bold text-decoration-none text-primary">My Orders</a> about next steps information.</p> -->
          </div>
          <!-- continue -->
          <div class="bg-white rounded p-4 shadow-sm">
              <div class="row d-flex justify-content-center align-items-center pt-5 ">
                <h5 class="font-weight-bold mb-4">CSC 322 - Food Delivery Website Project</h5>
              </div>
              <div class="row d-flex justify-content-center align-items-center">
                <div class="text-wrap text-center mb-4" style="width: 16rem;">
                  This is a food delivery system project for the CSC 322 - Software Engineering class at City College of New York.
                </div>
              </div>
              <div class="row d-flex justify-content-center align-items-center pb-5">
                <p class="large">Created by: Gaurav Kuwar, ... (put u r names)</p>
                <!-- <a href="{{url_for('order_status')}}" class="btn rounded btn-primary btn-lg btn-block">Track My Order</a> -->
              </div>
            </div>
          </div>
      </div>
  </div>
{% endblock %}
