<!doctype html>
{% extends 'base.html' %}
{% block content %}


<div class="container">
  <div id="toggle"></div>
  <div id="navbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Resteraunt Info</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="manager.html" id="nav-complaints"> Complaints <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="manager_employees.html" id="nav-employees"> Employees <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="manager_users.html" id="nav-users" > Users <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</div>
 <div class="container">


     <div class="container mt-3">
       <div class="row">
         {% for user in users %}
           <div class="card-deck">


               <div class="card" style="width: 18rem;
                                        margin-left: 4rem;
                                        margin-bottom: 4rem;">
                 <div class="card-header">
                   <b>User: {{user['name']}}</b>
                 </div>
                 <ul class="list-group list-group-flush">
                   <li class="list-group-item"><b>Restaurant: </b>{{user['restaurant_name']}}</li>
                   <li class="list-group-item"><b>Number of Warnings: </b>{{user['numWarnings']}}</li>
                   <li class="list-group-item"><b>Category: </b>{{user['category']}}</li>
                   <a href="{{url_for('manager_black_list_user',data=user.email)}}">
                    <button type="button" name="button" >BlackList User</button></a>
                 </ul>
               </div>

           </div>
           {% endfor %}
       </div>
   </div>
 </div>

{% endblock %}
