<!doctype html>
{% extends 'base.html' %}

{% block content %}

    <!-- <div class="d-none">
        <div class="bg-primary p-3 d-flex align-items-center">
            <a class="toggle togglew toggle-2" href="#"><span></span></a>
            <h4 class="font-weight-bold m-0 text-white">fahad Bar</h4>
        </div>
    </div> -->
    <div class="offer-section py-4">
        <div class="container position-relative">
            <img alt="#" src="{{ restaurant_info['img_path'] }}" class="restaurant-pic">
            <div class="pt-3 text-white">
                <h2 class="font-weight-bold"> {{ restaurant_info['name'] }} </h2>
                <p class="text-white m-0"> {{ restaurant_info['address'] }} </p>
                <div class="rating-wrap d-flex align-items-center mt-2">
                    <ul class="rating-stars list-unstyled">
                        <li>
                            <i class="feather-star text-warning"></i>
                            <!-- <i class="feather-star text-warning"></i>
                            <i class="feather-star text-warning"></i>
                            <i class="feather-star text-warning"></i>
                            <i class="feather-star"></i> -->
                        </li>
                    </ul>
                    <p class="label-rating text-white ml-2 small"> {{ restaurant_info['rating'] }} </p>
                </div>
            </div>
            <div class="pb-4">
                <div class="row">
                    <div class="col-6 col-md-2">
                        <p class="text-white-50 font-weight-bold m-0 small">Delivery</p>
                        <p class="text-white m-0">Free</p>
                    </div>
                    <div class="col-6 col-md-2">
                        <p class="text-white-50 font-weight-bold m-0 small">Open time</p>
                        <p class="text-white m-0">8:00 AM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="p-3 bg-primary bg-primary mt-n3 rounded position-relative">
            <div class="d-flex align-items-center">
                <div class="feather_icon">
                    <p class="font-weight-bold h5 pl-2 mb-0 w-100 text-light">Menu</p>
                    <!-- <a href="#ratings-and-reviews" class="text-decoration-none text-dark"><i class="p-2 bg-light rounded-circle font-weight-bold  feather-upload"></i></a> -->
                    <!-- <a href="#ratings-and-reviews" class="text-decoration-none text-dark mx-2"><i class="p-2 bg-light rounded-circle font-weight-bold  feather-star"></i></a> -->
                    <!-- <a href="#ratings-and-reviews" class="text-decoration-none text-dark"><i class="p-2 bg-light rounded-circle font-weight-bold feather-map-pin"></i></a> -->
                </div>
                <a href="contact-us.html" class="btn btn-sm btn-outline-light ml-auto">Contact</a>
            </div>
        </div>
    </div>
    <div class="container position-relative">
        <div class="row">
            <div class="col-md-8 pt-3">
                <div class="shadow-sm rounded bg-white mb-3 overflow-hidden">
                    <!-- <div class="d-flex item-aligns-center">
                        <p class="font-weight-bold h6 p-3 border-bottom mb-0 w-100">Menu</p>
                        <a class="small text-primary font-weight-bold ml-auto" href="#">View all <i class="feather-chevrons-right"></i></a>
                    </div> -->
                    {% for category_name, category in categories %}
                      <div class="row m-0">
                          <h6 class="p-3 m-0 bg-light w-100">{{ category_name }} <small class="text-black-50">{{ category|length }} ITEMS</small></h6>
                          <div class="col-md-12 px-0 border-top">
                              <div class="">
                                  {% for item in category %}
                                    <script type=text/javascript>
                                      $(function() {
                                        var clicked_add = '#add_cart_{{ item['item_id'] }}';
                                        $(clicked_add).click( function() {
                                          $(clicked_add).button('toggle')
                                          $.getJSON($SCRIPT_ROOT + '/_update_cart', {
                                            clicked_by : "add",
                                            item_clicked_id : "{{ item['item_id'] }}"
                                          }, function(data) {
                                            if ( data.cart_len == 0 ) {
                                              $('#cart-container').addClass("d-none");
                                            } else {
                                              $('#cart-container').removeClass("d-none");
                                            }
                                            if ({{ item['item_id'] }} in data.cart) {
                                              $("#in-cart-{{ item['item_id'] }}").removeClass("d-none");
                                            } else {
                                              $("#in-cart-{{ item['item_id'] }}").addClass("d-none");
                                            }
                                            $("#total-cost").text(data.total_cost);
                                            $("#delivery-cost").text(data.delivery_cost);
                                            $("#restraunt-charges").text(data.restraunt_charges);
                                            $("#to-pay").text(data.to_pay);
                                          });
                                          return false;
                                        });
                                      });
                                    </script>
                                    <div class="p-3 border-bottom gold-members">
                                        <span class="float-right pt-1 pr-2 d-flex align-items-center">
                                          {% if account_type == "visitor" %}
                                            <button data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-secondary btn-sm" data-target="#extras">ADD</button>
                                          {% else %}
                                            <button id="add_cart_{{ item['item_id'] }}" class="btn btn-outline-secondary btn-sm" data-target="#extras">ADD</button>
                                          {% endif %}
                                        </span>
                                        <div class="media">
                                            <div class="media-body">
                                                <h6 class="mb-1">{{ item['name'] }}</h6>
                                                <p class="text-muted mb-0">${{ item['price'] }}</p>
                                            </div>
                                        </div>
                                    </div>
                                  {% endfor %}
                                </div>
                            </div>
                        </div>
                      {% endfor %}
                    </div>
            <div class="mb-3"></div>
            </div>
            <div class="col-md-4 pt-3">
                <div class="fahad-cart-item rounded rounded shadow-sm overflow-hidden bg-white sticky_sidebar">
                    <div class="d-flex border-bottom fahad-cart-item-profile bg-white p-3">
                        <!-- <img alt="fahad" src="static/img/starter1.jpg" class="mr-3 rounded-circle img-fluid"> -->
                        <div class="d-flex flex-column">
                            <h6 class="mb-1 font-weight-bold">{{ restaurant_info['name'] }}</h6>
                            <p class="mb-0 small text-muted"><i class="feather-map-pin"></i> {{ restaurant_info['address'] }}</p>
                        </div>
                    </div>
                    <div id="cart-container" class="bg-white d-none">
                        {% for category_name, category in categories %}
                          {% for item in category %}
                            <script type=text/javascript>
                              $(function() {
                                var clicked_minus = '#minus-{{ item['item_id'] }}';
                                var clicked_plus = '#plus-{{ item['item_id'] }}';

                                $(clicked_minus).click( function() {
                                  $.getJSON($SCRIPT_ROOT + '/_update_cart', {
                                    clicked_by : "minus",
                                    item_clicked_id : "{{ item['item_id'] }}"
                                  }, function(data) {
                                    if (!({{ item['item_id'] }} in data.cart)) {
                                      $("#in-cart-{{ item['item_id'] }}").addClass("d-none");
                                      $('#add_cart_{{ item['item_id'] }}').button('toggle')
                                    } else {
                                      $("#quant-{{ item['item_id'] }}").val(data.cart[{{ item['item_id'] }}][1])
                                    }

                                    $("#total-cost").text(data.total_cost);
                                    $("#delivery-cost").text(data.delivery_cost);
                                    $("#restraunt-charges").text(data.restraunt_charges);
                                    $("#to-pay").text(data.to_pay);
                                  });
                                  return false;
                                });
                                $(clicked_plus).click( function() {
                                  $.getJSON($SCRIPT_ROOT + '/_update_cart', {
                                    clicked_by : "plus",
                                    item_clicked_id : "{{ item['item_id'] }}"
                                  }, function(data) {
                                    if (!({{ item['item_id'] }} in data.cart)) {
                                      $("#in-cart-{{ item['item_id'] }}").addClass("d-none");
                                      $('#add_cart_{{ item['item_id'] }}').button('toggle')
                                    } else {
                                      $("#quant-{{ item['item_id'] }}").val(data.cart[{{ item['item_id'] }}][1])
                                    }

                                    $("#total-cost").text(data.total_cost);
                                    $("#delivery-cost").text(data.delivery_cost);
                                    $("#restraunt-charges").text(data.restraunt_charges);
                                    $("#to-pay").text(data.to_pay);
                                  });
                                  return false;
                                });
                                $(document).ready( function() {
                                  $.getJSON($SCRIPT_ROOT + '/_update_cart', {
                                    clicked_by : "load_page",
                                    item_clicked_id : "{{ item['item_id'] }}"
                                  }, function(data) {
                                    if (!({{ item['item_id'] }} in data.cart)) {
                                      $("#in-cart-{{ item['item_id'] }}").addClass("d-none");
                                    } else {
                                      $("#quant-{{ item['item_id'] }}").val(data.cart[{{ item['item_id'] }}][1])
                                    }

                                    $("#total-cost").text(data.total_cost);
                                    $("#delivery-cost").text(data.delivery_cost);
                                    $("#restraunt-charges").text(data.restraunt_charges);
                                    $("#to-pay").text(data.to_pay);
                                  });
                                  return false;
                                });
                              });
                            </script>
                            <div id="in-cart-{{ item['item_id'] }}" class="d-none">
                              <div class="gold-members d-flex align-items-center justify-content-between px-3 py-2 border-bottom">
                                  <div class="media align-items-center">
                                      <div class="pl-2 media-body">
                                          <p class="m-0">{{ item['name'] }}</p>
                                      </div>
                                  </div>
                                  <div class="d-flex align-items-center">
                                      <span class="count-number float-right">
                                        <button id="minus-{{ item['item_id'] }}" type="button" class="btn-sm left dec btn btn-outline-secondary">
                                          <i class="feather-minus"></i>
                                        </button><input id="quant-{{ item['item_id'] }}" class="count-number-input" readonly="" value="1" type="text"><button id="plus-{{ item['item_id'] }}" type="button" class="btn-sm right inc btn btn-outline-secondary">
                                          <i class="feather-plus"></i>
                                        </button></span>
                                      <p class="text-gray mb-0 float-right ml-3 text-muted small">${{ item['price'] }}</p>
                                  </div>
                              </div>
                            </div>
                          {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="bg-white p-3 clearfix border-bottom">
                        <p class="mb-1">Item Total <span id="total-cost" class="float-right text-dark">$0.00</span></p>
                        <p class="mb-1">Restaurant Charges <span id="restraunt-charges" class="float-right text-dark">$0.00</span></p>
                        <p class="mb-1">Delivery Fee<span class="text-info ml-1"></span><span id="delivery-cost" class="float-right text-dark">$0.00</span></p>
                        <!-- <p class="mb-1 text-success">Total Discount<span class="float-right text-success">$1884</span></p> -->
                        <hr>
                        <h6 class="font-weight-bold mb-0">TOTAL <span id="to-pay" class="float-right">$0.00</span></h6>
                    </div>
                    <div class="p-3">
                        {% if account_type == "visitor" %}
                          <a class="btn btn-success btn-block btn-lg" href="{{ url_for('checkout') }}" data-toggle="modal" data-target="#exampleModal">CHECKOUT<i class="feather-arrow-right"></i></a>
                        {% else %}
                          <a class="btn btn-success btn-block btn-lg" href="{{ url_for('checkout') }}">CHECKOUT<i class="feather-arrow-right"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- error popup -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-center">
                    <h5 class="modal-title">Not Signed In</h5>
                </div>
                <div class="modal-body">
                    <form class="">
                        <div class="form-row py-3">
                            <div class="col-md-12 d-flex justify-content-center"><label class="form-label">You need be signed in to order food and make payments.</label></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer p-0 border-0">
                    <div class="col-6 m-0 p-0">
                        <button type="button" class="btn border-top btn-lg btn-block" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-6 m-0 p-0">
                        <a href="{{ url_for('login') }}" role="button" class="btn btn-primary btn-lg btn-block">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
